@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">当前支持的Exporter</h1>
        @*<p>
            阿里云资源信息Exporter<a href="@Url.Action("infometrics","aliyun")">InfoMetrics</a>
        </p>*@
        <p>
            阿里云监控数据Exporter<a target="_blank" href="@Url.Action("metrics","exporter")">Metrics</a>
        </p>
    </div>
